include layouts/header


.container.page-data
	form.form-horizontal(method='POST' action='/edit_item' id='edit_item' enctype="multipart/form-data")

		.well(style={'margin-top':'30px', 'margin-bottom': '70px'})
			input.form-control(type='hidden' id='idx' name='idx' value=user.UserID) 
			input.form-control(type='hidden' id='idxpost' name='idxpost' value=itemData.PostingID)

			.editAdSection

				.form-group.form-row
					label.form-check-label(for="IsSold") 
						input(type="checkbox", name="issold", checked=(itemData.IsSold===1 ? "checked" : undefined))
						| Sold
  
				.form-group.form-row
					select.chosen-select(style={width: '100%'} id='type' name='type' data-placeholder='')
						each item in itemData.ListTypes
							option(selected=itemData.Type==item) #{item}
	
				.form-group.form-row
					select.chosen-select(style={width: '100%'} id='category' name='category[]' data-placeholder='Select Category' multiple tabindex='4')
						each item in itemData.ListCategories
							option(selected=itemData.Category.indexOf(item) != -1) #{item}
							

				.form-group.form-row
					label.col-sm-3.col-form-label(for='JobTitle' ) Title
					.col-sm-9
						input.form-control.required(type='text' id='title' name='title' value=itemData.Title  required  )
				
				.form-group.form-row
					label.col-sm-3.col-form-label(for='Description' ) Description
					.col-sm-9
						textarea.form-control.required(rows='4' id='description' name='description')
							| #{itemData.PostingText}	

					
				.form-group.form-row
					label.col-sm-3.col-form-label(for='Price' ) Selling Price
					.col-sm-9
						input.form-control.required(type='number' id='price' name='price' value=itemData.Price  required  )



				.form-group.form-row
					select.chosen-select(id='location' name='location' data-placeholder='')
						each item in itemData.ListLocations
							option(selected=itemData.Location==item) #{item}
							
				.fieldset
					
					.span.btn.btn-primary.btn-file
						| Add Image
						input(type="file" id="files"  name="files")
						progress.noshow(id="progressBar" max="100" value="0")
						
					.legend
						output(id="list")
							each image in itemData.ImageList
								span(id=`${image.ImageID}`)
									img.thumb(src="/uploads/"+`${image.FileName}` id=`${image.ImageID}` data-rotate=`${image.Angle}` data-file=`${image.FileName}` title="Click to remove")
									button.fa.fa-repeat.rotate(type='button' id=`${image.ImageID}`) 
									
				.form-group.form-row
					button.btn.btn-primary.pull-right(type='submit' id='submit') Submit Posting

		
		.div(id="dialog-delete-confirm" title="Remove image?")
		.div(id="dialog-submit-confirm" title="Submit item?")
	  
script(type='text/javascript').

	$(document).ready(function() {
	
			localStorage.removeItem("newImages");
			localStorage.removeItem("deletedImages");
			localStorage.removeItem("rotatedImages");
			
			var config = {
				'.chosen-select'           : {},
				'.chosen-select-deselect'  : {allow_single_deselect:true},
				'.chosen-select-no-single' : {disable_search_threshold:10},
				'.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
				'.chosen-select-width'     : {width:"95%"}
			}
			for (var selector in config) {
				$("#category").chosen(config[selector]);
			}
			
			
			for (var selector in config) {
				$("#type").chosen(config[selector]);
			}

			for (var selector in config) {
				$("#location").chosen(config[selector]);
			}	
	
			$("#files").on("change", handleFileSelect);
			$("body").on("click", ".thumb", removeFile);
			$("body").on("click", ".rotate", rotateFile);
			$("body").on("click", "#rotator", rotateImage);

			var MAX_WIDTH = 400;
			var MAX_HEIGHT = 300;  
			var resizedFiles = [];
			var files = [];
			var rotatedImages = [];
			
			function rotateFile(e) {
					var imageId = $(this).parent().find("img.thumb").attr('id');

					var image = $(this).parent().find("img.thumb");
					var angle = $(image).data('rotate');						
					var new_angle_value = angle + 90;
					if (new_angle_value==360) new_angle_value=0;
					var new_angle = 'rotate(' + new_angle_value + 'deg)';
					$(image).css({ 
						'-webkit-transform': new_angle,
						'-moz-transform': new_angle,
						'-o-transform': new_angle,
						'-ms-transform': new_angle,
						'transform': new_angle 
					});
					$(image).data('rotate',new_angle_value); 

					if (localStorage.getItem("rotatedImages") == null) {
						rotatedImages.push({imageId: imageId, Angle: new_angle_value});								
						localStorage["rotatedImages"] = JSON.stringify(rotatedImages);						
					} else {
						rotatedImages = JSON.parse(localStorage["rotatedImages"]);
						var found = 0;
						for(var item in rotatedImages) {
							if (rotatedImages[item]['imageId'] == imageId) {
								rotatedImages[item]['Angle'] = new_angle_value;
								found = 1;
								break;
							}
						}
						if (found==0) rotatedImages.push({imageId: imageId, Angle: new_angle_value});	
					}
														
					localStorage["rotatedImages"] = JSON.stringify(rotatedImages);				
			}
			
			function rotateImage() {
				var imageId = $(this).parent().find("img.thumb").attr('data-file');
				console.log('rotatedImages: ' + imageId);	

				var image = $(this).parent().find("img.thumb");
				var angle = $(image).data('rotate');					
				//alert(angle);
				
				var new_angle_value = angle + 90;
				if (new_angle_value==360) new_angle_value=0;
				var new_angle = 'rotate(' + new_angle_value + 'deg)';
				$(image).css({ 
					'-webkit-transform': new_angle,
					'-moz-transform': new_angle,
					'-o-transform': new_angle,
					'-ms-transform': new_angle,
					'transform': new_angle 
				});
				$(image).data('rotate',new_angle_value); 	
				for(var i=0;i<resizedFiles.length;i++) {
								  if(resizedFiles[i].fileName === imageId) {
									  resizedFiles[i].Angle = new_angle_value;
									  break;
								  }
				}	
			};

			$('img.thumb').each(function() {
				var deg = $(this).data('rotate') || 0;
				var rotate = 'rotate(' + $(this).data('rotate') + 'deg)';
				$(this).css({ 
					'-webkit-transform': rotate,
					'-moz-transform': rotate,
					'-o-transform': rotate,
					'-ms-transform': rotate,
					'transform': rotate 
				});
			});
			
						
			function handleFileSelect(evt) {
			  files = evt.target.files; 
			  var filesArr = Array.prototype.slice.call(files);
			  var total = files.length; loaded = 0;

			  $('#progressBar').removeClass('noshow').addClass('show');

			  filesArr.forEach(function(f) {

				  if(!f.type.match("image.*")) { return; }
				  var img = new Image();  
				  var reader = new FileReader();
				  var dataurl = '';
							 
				 reader.onload = function(e) {
					  img.onload = function() {
					  
						  console.log('file size, Mb = ' + (f.size/1024)/1024);
						  var canvas = document.createElement("canvas");						 
						  var ctx = canvas.getContext("2d");
						  ctx.drawImage(img, 0, 0);
						  var width = img.width;
						  var height = img.height;
						  if (width > height) {
							if (width > MAX_WIDTH) {
							  height *= MAX_WIDTH / width;
							  width = MAX_WIDTH;
							}
						  } else {
							if (height > MAX_HEIGHT) {
							  width *= MAX_HEIGHT / height;
							  height = MAX_HEIGHT;
							}
						  }
						  canvas.width = width;
						  canvas.height = height;
							console.log('canvas width x height = ' + canvas.width + 'x' + canvas.height);			  
						  var ctx = canvas.getContext("2d");
						  ctx.drawImage(img, 0, 0, width, height);
						  dataurl = canvas.toDataURL();

						  resizedFiles.push({dataurl: dataurl, fileName: f.name});
						  console.log(f.name);
						  
						  var span = document.createElement('span');		
						  span.innerHTML = ['<img class="thumb" src="' +dataurl+ '\" data-file="'+f.name+ '" data-rotate="0" title="Click to remove"' +escape(f.name)+ '"/><button id="rotator" type="button" class="fa fa-repeat" />'].join('');  
						  document.getElementById('list').insertBefore(span, null);
						 
						 loaded++;
						  addPercent(0);
						  if (loaded == total){
							  addPercent(0);
							   $('#progressBar').removeClass('show').addClass('noshow');
						  }
					  }
					  img.src = e.target.result;  
									  
				  }  

				  reader.onprogress = function(data) {
					  if (data.lengthComputable) {                                            
						  var progress = parseInt( ((data.loaded / data.total) * 100), 10 );
						  addPercent(progress); } 
				  }
				  reader.readAsDataURL(f);
			  })
			  
			}
			
			
			function removeFile(e) {
					var file = $(this).data("file");
					var imageToRemove = $(this).parent();
					var deletedId = $(this).attr('id');
										
					$("#dialog-delete-confirm").dialog({
						resizable: false,
						height: "auto",
						width: 400,
						modal: true,
						buttons: {
							"Remove": function () {
							 
							  for(var i=0;i<resizedFiles.length;i++) {
								  if(resizedFiles[i].fileName === file) {
									  resizedFiles.splice(i,1);
									  break;
								  }
							  }
							  $(imageToRemove).remove();
							  if (deletedId!=undefined) {
								RemoveImages(deletedId);
							  }
							
							  $(this).dialog("close");
							},
							Cancel: function () {
								$(this).dialog("close");
							}
						}
					});             
			}
			
			function RemoveImages(imageId) {
				var deletedImages = [];
				var deletedId ={id: imageId};

				if (localStorage.getItem("deletedImages") != null) {
					deletedImages = JSON.parse(localStorage["deletedImages"]);
				}

				deletedImages.push(deletedId);
				localStorage["deletedImages"] = JSON.stringify(deletedImages);
				console.log("Deleted ids: " + JSON.stringify(JSON.parse(localStorage["deletedImages"])));
			}
		
			function transformImages(imageList) {
					imageList.forEach(function(entry) {
						var img = new Image();
						img.src = entry.dataurl;
						var canvas = document.createElement("canvas");						 
						var ctx = canvas.getContext("2d");
						ctx.drawImage(img, 0, 0);

						switch (entry.Angle) {
							case 0:	
							case 180:
								canvas.width = img.width;
								canvas.height = img.height;
								break;
							case 90:
							case 270:
								canvas.width = img.height;
								canvas.height = img.width;
								break;
						}

						var  cw = canvas.width * 0.5, ch = canvas.height * 0.5;
						ctx.translate(cw, ch);
						ctx.rotate(entry.Angle*Math.PI/180);
						ctx.translate(-img.width * 0.5, -img.height * 0.5);
						ctx.drawImage(img, 0, 0);
						ctx.setTransform(1, 0, 0, 1, 0, 0);
						entry.dataurl = canvas.toDataURL();
					});
			}

			$("#edit_item").submit(function(e) {
				e.preventDefault();
				var actionurl = e.currentTarget.action;
				var formData =  $("#edit_item").serializeArray();
								
					$("#dialog-submit-confirm").dialog({
						resizable: false,
						height: "auto",
						width: 400,
						modal: true,
						buttons: {
							"Submit": function () {
								//- transformImages(resizedFiles).then(function() {
								//- 	resizedFiles.forEach(function(entry) {
								//- 		formData.push({name: 'images[]', value: entry.dataurl}); 
								//- 	})
								//- });
								
								transformImages(resizedFiles);
								resizedFiles.forEach(function(entry) {
									formData.push({name: 'images[]', value: entry.dataurl}); 
								})
								if (localStorage.getItem("deletedImages") != null) {
									var deletedImages = JSON.parse(localStorage["deletedImages"]);
									formData.push({name: "deletedImages", value: JSON.stringify(deletedImages)});
								}
								
								if (localStorage.getItem("rotatedImages") != null) {
									var rotatedImages = JSON.parse(localStorage["rotatedImages"]);
									formData.push({name: "rotatedImages", value: JSON.stringify(rotatedImages)});
								}
								
								//console.log('resizedFiles.length = ' + resizedFiles.length);
								var postingID = $('input[name="idxpost"]').val();
								$.ajax({
									url: actionurl+'/'+postingID,
									type: 'post',
									data: formData,
									success: function(data) {
									  resizedFiles = [];
									  $('#submitProgressBar').removeClass('show').addClass('noshow');
									  console.log('success');   
									  window.location = '/mylisting'; 
									},
									xhr: function() {
									  var xhr = new XMLHttpRequest();
									  xhr.upload.addEventListener('progress', function(evt) {
										$('#submitProgressBar').removeClass('noshow').addClass('show');
										if (evt.lengthComputable) {
											var percentComplete = evt.loaded / evt.total;
											percentComplete = parseInt(percentComplete * 100);
											 var bar = document.getElementById("submitProgressBar");
											 //bar.value = percentComplete;
										}
									  }, false);
									  return xhr;
									}
								});
								
								$(this).dialog("close");
							},
							Cancel: function () {
								$(this).dialog("close");
							}
						}
					});          			
			});

					
			function addPercent(progress) {
				var bar = document.getElementById("progressBar");
				bar.value = progress;
			}


	});
