mixin itembody

    .form-group.form-row.col-sm-9
        label.col-sm-3.col-form-label(for="IsSold") 
            input(type="checkbox", name="issold", checked=((itemData) ? (itemData.IsSold===1 ? "checked" : undefined) : undefined ))
            | Sold

    .form-group.form-row.col-sm-9
        select.chosen-select(style={width: '100%'} id='type' name='type' data-placeholder='')
            if (itemData)
                each item in itemData.ListTypes
                    option( selected=((itemData) ? itemData.Type : '')==item  ) #{item}
            else
               each item in ListTypes
                    option #{item}

    .form-group.form-row.col-sm-9
        select.chosen-select(style={width: '100%'} id='category' name='category[]' data-placeholder='Select Category' multiple tabindex='4')
            if (itemData)
                each item in itemData.ListCategories
                    option(selected=((itemData) ? itemData.Category.indexOf(item) != -1 : NULL)) #{item}
            else
                each item in ListCategories
                    option #{item}


    .form-group.form-row.col-sm-9
        label.col-sm-3.col-form-label(for='JobTitle' ) Title
        .col-sm-9
            input.form-control.required(type='text' id='title' name='title' value=((itemData) ? itemData.Title : '')  required  )

    .form-group.form-row.col-sm-9
        label.col-sm-3.col-form-label(for='Description' ) Description
        .col-sm-9
            textarea.form-control.required(rows='3' id='description' name='description')
                | #{((itemData) ? itemData.PostingText : '') }	

        
    .form-group.form-row.col-sm-9
        label.col-sm-3.col-form-label(for='Price' ) Selling Price
        .col-sm-9
            input.form-control.required(type='number' id='price' name='price' value=((itemData) ? itemData.Price : '')  required  )


    .form-group.form-row.col-sm-9
        select.chosen-select(id='location' name='location' data-placeholder='')
            if (itemData)
                each item in itemData.ListLocations
                    option(selected=((itemData) ? itemData.Location==item : NULL)) #{item}
            else
               each item in ListLocations
                    option #{item}
                
    .fieldset.col-sm-12
        if (itemData)        
            .span.btn.btn-primary.btn-file
                | Add Image
                input(type="file" id="files"  name="files")
                progress.noshow(id="progressBar" max="100" value="0")
                
            .legend
                    output(id="list")
                        each image in itemData.ImageList
                            span(id=`${image.ImageID}`)
                                img.thumb(src="/uploads/"+`${image.FileName}` id=`${image.ImageID}` data-rotate=`${image.Angle}` data-file=`${image.FileName}` title="Click to remove")
                                button.fa.fa-repeat.rotate(type='button' id=`${image.ImageID}`)
        else
            .span.btn.btn-primary.btn-file
                | Add Image
                input(type="file" id="files" multiple name="files")
                progress.noshow(id="progressBar" max="100" value="0")
                
            .legend
                output(id="list")        