mixin myitem(obj)

	.myitem.grid-item(id = `${obj.PostingID}` onmouseover="" style="cursor: pointer;")
		.inner.well
			p.pull-right #{obj.Type}
			h3 #{obj.Title}
			img.center-left.img-responsive2(src="/uploads/" + `${obj.FileName}`  data-rotate=`${obj.Angle}`)
			p #{obj.PostingText}
			p.fa.fa-dollar #{obj.Price}
	
