mixin myitem(obj)

	.card(id = `${obj.PostingID}` onmouseover=""  style={'cursor': 'pointer'})
		.card-header
			p.pull-right #{obj.Type}

		img.card-img-top(src="/uploads/" + `${obj.FileName}`  data-rotate=`${obj.Angle}`)

		.card-body
			h3.card-title #{obj.Title.substring(0,50)}	
			p.card-subtitle #{obj.PostingText.substring(0,100)}
		.card-footer
			p.fa.fa-dollar #{obj.Price}